.wrapper{
	width: 60%;
	margin: 0 auto;
	border: 5px solid #ddd;
}

label{
	font-size: 25px;
}

.First_name, .last_name, .email, .password, .date_of_birth{
	width: 90%;
	height: 25px;
	padding: 10px;
	font-size: 18px;
}

.message{
	font-size: 18px;
    padding: 10px;

}

caption{
	font-size: 20px;
}